<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.study.dao.AddressInfoMapper">
    <resultMap id="AddressInfoMap" type="org.study.data.AddressInfoDO">
        <id column="info_id" property="infoId" jdbcType="INTEGER" />
        <result column="user_id" property="userId" jdbcType="INTEGER" />
        <result column="user_name" property="userName" jdbcType="VARCHAR" />
        <result column="user_address" property="userAddress" jdbcType="VARCHAR" />
        <result column="gender" property="gender" jdbcType="TINYINT" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    </resultMap>

    <insert id="insertOrUpdate" parameterType="org.study.data.AddressInfoDO">
        INSERT INTO address_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="info.userId != null">user_id,</if>
            <if test="info.userName != null">user_name,</if>
            <if test="info.userPhone != null">user_phone,</if>
            <if test="info.userAddress != null">user_address,</if>
            <if test="info.gender != null">gender,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="info.userId != null">#{info.userId},</if>
            <if test="info.userName != null">#{info.userName},</if>
            <if test="info.userPhone != null">#{info.userPhone},</if>
            <if test="info.userAddress != null">#{info.userAddress},</if>
            <if test="info.gender != null">#{info.gender},</if>
        </trim>
        ON DUPLICATE KEY UPDATE
        <trim suffixOverrides=",">
            <if test="info.userId != null">user_id = #{info.userId},</if>
            <if test="info.userName != null">user_name = #{info.userName},</if>
            <if test="info.userPhone != null">user_phone = #{info.userPhone},</if>
            <if test="info.userAddress != null">user_address = #{info.userAddress},</if>
            <if test="info.gender != null">gender = #{info.gender},</if>
        </trim>
    </insert>

    <delete id="deleteById">
        DELETE FROM address_info
        WHERE info_id = #{infoId} AND userId = #{userId}
    </delete>

    <select id="selectByUserId" resultMap="AddressInfoMap">
        SELECT * FROM address_info
        WHERE user_id = #{userId}
    </select>
</mapper>