<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.study.dao.OrderMasterMapper">
    <resultMap id="OrderMasterMap" type="org.study.data.OrderMasterDO">
        <id column="order_id" property="orderId" jdbcType="VARCHAR" />
        <result column="seller_id" property="sellerId" jdbcType="INTEGER" />
        <result column="user_id" property="userId" jdbcType="INTEGER" />
        <result column="user_name" property="userName" jdbcType="VARCHAR" />
        <result column="user_phone" property="userPhone" jdbcType="VARCHAR" />
        <result column="user_address" property="userAddress" jdbcType="VARCHAR" />
        <result column="order_amount" property="orderAmount" jdbcType="DECIMAL" />
        <result column="order_status" property="orderStatus" jdbcType="TINYINT" />
        <result column="pay_status" property="payStatus" jdbcType="TINYINT" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    </resultMap>

    <insert id="insertOrderMaster">
        INSERT INTO order_master
        (
        order_id, user_id, seller_id, user_name, user_phone, user_address,
        order_amount, order_status, pay_status, create_time
        )
        VALUES
        (
        #{orderMaster.orderId}, #{orderMaster.userId}, #{orderMaster.sellerId},
        #{orderMaster.userName}, #{orderMaster.userPhone}, #{orderMaster.userAddress},
        #{orderMaster.orderAmount}, #{orderMaster.orderStatus}, #{orderMaster.payStatus},
        #{orderMaster.createTime, jdbcType=TIMESTAMP}
        )
    </insert>

    <update id="updateStatus">
        UPDATE order_master
        <set>
            <if test="orderStatus != null">order_status = #{orderStatus},</if>
            <if test="payStatus != null">pay_status = #{payStatus},</if>
        </set>
        WHERE order_id = #{orderId}
    </update>

    <update id="cancelOrder">
        UPDATE order_master
        SET order_status = -1, pay_status = -1
        WHERE order_id = #{orderId} and order_status != -1 and pay_status != -1
    </update>

    <select id="selectOrderById" resultMap="OrderMasterMap">
        SELECT * FROM order_master
        WHERE order_id = #{orderId}
    </select>

    <select id="selectByUserId" resultMap="OrderMasterMap">
        SELECT * FROM order_master
        WHERE user_id = #{userId}
              and order_status = #{orderStatus}
              and pay_status = #{payStatus}
    </select>

    <select id="selectBySellerId" resultMap="OrderMasterMap">
        SELECT * FROM order_master
        WHERE seller_id = #{sellerId}
              and order_status = #{orderStatus}
              and pay_status = #{payStatus}
    </select>
</mapper>