<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.study.dao.ProductMapper">
    <resultMap id="ProductMap" type="org.study.data.ProductDO">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="price" property="price" jdbcType="DECIMAL"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="icon_url" property="iconUrl" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
        <result column="category_id" property="categoryId" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <insert id="upsertProduct" parameterType="org.study.data.ProductDO" useGeneratedKeys="true" keyProperty="product.id">
        INSERT INTO product
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="product.id != null" >id, </if>
            <if test="product.name != null">name, </if>
            <if test="product.price != null">price, </if>
            <if test="product.description != null">description, </if>
            <if test="product.iconUrl != null">icon_url, </if>
            <if test="product.categoryId != null">category_id, </if>
            <if test="product.status != null">status, </if>
            <if test="product.userId != null">user_id, </if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="product.id != null"> #{product.id}, </if>
            <if test="product.name != null"> #{product.name}, </if>
            <if test="product.price != null"> #{product.price}, </if>
            <if test="product.description != null"> #{product.description}, </if>
            <if test="product.iconUrl != null"> #{product.iconUrl}, </if>
            <if test="product.categoryId != null"> #{product.categoryId}, </if>
            <if test="product.status != null"> #{product.status}, </if>
            <if test="product.userId != null"> #{product.userId},</if>
        </trim>
        ON DUPLICATE KEY UPDATE
        <trim suffixOverrides=",">
            <if test="product.name != null">name = #{product.name}, </if>
            <if test="product.price != null">price = #{product.price}, </if>
            <if test="product.description != null">description = #{product.description}, </if>
            <if test="product.iconUrl != null">icon_url = #{product.iconUrl}, </if>
            <if test="product.categoryId != null">category_id = #{product.categoryId}, </if>
            <if test="product.status != null">status = #{product.status}, </if>
            <if test="product.userId != null">user_id = #{product.userId}, </if>
        </trim>
    </insert>

    <select id="selectProduct" parameterType="org.study.data.ProductDO" resultMap="ProductMap">
        SELECT * FROM product
        <where>
            <if test="product.id != null">AND id = #{product.id}</if>
            <if test="product.name != null">AND name = #{product.name}</if>
            <if test="product.categoryId != null">AND category_id = #{product.categoryId}</if>
            <if test="product.createTime != null"> AND create_time = #{product.createTime} </if>
            <if test="product.updateTime != null"> AND update_time = #{product.updateTime} </if>
            <if test="product.userId != null">AND user_id = #{product.userId} </if>
        </where>
    </select>

    <select id="selectByPrimaryKey" resultMap="ProductMap">
        SELECT * FROM product WHERE id = #{id}
    </select>

    <select id="selectInKeyList" resultMap="ProductMap">
        SELECT * FROM product
        WHERE id IN
        <foreach collection="keyList" item="key" index="index" separator="," open="(" close=")">
            #{key}
        </foreach>
    </select>

    <select id="selectFromBegin" resultMap="ProductMap">
        SELECT * FROM product
        WHERE status != 2
        ORDER BY id DESC
        LIMIT 0, #{size}
    </select>

    <select id="selectNextPage" resultMap="ProductMap">
        SELECT * FROM product
        WHERE #{preLastId} > id AND status != 2
        <if test="typeId != null"> AND category_id = #{typeId}</if>
        ORDER BY id DESC
        LIMIT #{gap}, #{pageSize}
    </select>

    <select id="selectPageNormal" resultMap="ProductMap">
        SELECT * FROM product
        WHERE status != 2
        <if test="typeId != null"> AND category_id = #{typeId}</if>
        ORDER BY id DESC
        LIMIT #{gap}, #{pageSize}
    </select>

    <select id="selectTopFive" resultMap="ProductMap">
        SELECT * FROM product
        WHERE status != 2
        <if test="typeId != null"> AND category_id = #{typeId}</if>
        ORDER BY id DESC
        LIMIT 0, 5
    </select>

</mapper>